streamlit
google-genai
google-api-python-client
google-auth
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
pandas
openpyxl
pypdf
python-docx
pymupdf
pytesseract
pillow