streamlit==1.55.0
google-genai
huggingface_hub
sentence-transformers
faiss-cpu
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.43
langchain-text-splitters==0.2.2
pandas
openpyxl
pypdf
python-docx
pillow